
body {
	background-color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	-webkit-transition: background-color 3s
	transition: background-color 3s
}

body.night {
	background-color: rgb(0, 0, 52);
	transition: background-color 5s
}

body.thumb {
	animation: thumb_body 3s;
}

canvas {
	border-radius: 3px;
	border: 0px solid black;
}

@keyframes thumb_body {
    0%  {background-color: rgb(0, 0, 52)}
    5%  {background-color: white;}
    7%  {background-color: rgb(0, 0, 52)}
    10%  {background-color: white}
    40%  {background-color: rgb(0, 0, 52)}
    100% {background-color: rgb(0, 0, 52)}
}
